.index .content {
  position: relative;
}
.index .content .video {
  height: 50%;
  background-color: cadetblue;
}
.index .content .video #videoPlayer {
  width: 100%;
  height: 100%;
}
.index .content .list {
  height: 50%;
}
